{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for blog_new in blog %}
            <article class="entry">
              <div class="entry-img">
                <img src="{{ blog_new.image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogsingle' blog_new.slug %}">{{ blog_new.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'account_edit' blog_new.company.slug %}">{{ blog_new.company }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'blog_date' blog_new.date %}"><time datetime="2020-01-01">{{ blog_new.date }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'blogsingle' blog_new.slug %}">{{ blog_new.get_comment_count }} Comments</a></li>
                </ul>
              </div>
            </article><!-- End blog entry -->
            {% endfor %}
            <div class="blog-pagination">
              <ul class="justify-content-center">
                {% if new_post.has_previous %}
                    <li class="tm-paging-item ">
                        <a href="?page=1" class="mb-2 tm-btn tm-paging-link">First</a>
                    </li>
                    {% endif %}
                    {%for n in new_post.paginator.page_range%}
                    {% if new_post.number == n %}
                    <li class="tm-paging-item">
                        <a href="?page={{ n }}" class="mb-2 tm-btn tm-paging-link">{{ n }}</a>
                    </li>
                    {% elif n > new_post.number|add:-3 and n < new_post.number|add:3%}
                    <li class="tm-paging-item">
                        <a href="?page={{ n }}" class="mb-2 tm-btn tm-paging-link">{{ n }}</a>
                    </li>
                    {% endif %}
                    {%endfor%}
                    {% if new_post.has_next %}
                    <li class="tm-paging-item">
                        <a href="?page={{new_post.paginator.num_pages}}" class="mb-2 tm-btn tm-paging-link">Last</a>
                    </li>
                    {% endif %}
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  {% for i in category %}
                  <li><a href="{% url 'blog_category' i.slug %}">{{ i.name }} <span>({{ i.get_post_count }})</span></a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% for el in blog_right %}
                <div class="post-item clearfix">
                  <img src="{{ el.image.url }}" alt="">
                  <h4><a href="{% url 'blogsingle' el.slug %}">{{ el.title }}</a></h4>
                  <time datetime="2020-01-01">{{ el.date }}</time>
                </div>
                {% endfor %}
              </div><!-- End sidebar recent posts-->

            

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock %}