<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>
<body>
    <form method="post" enctype='multipart/form-data' >{% csrf_token %}
        <p>Image</p>
        {{ form.image }}
        <p>Product</p>       
        <select name="product" required id="id_product">
            <option value="" selected>---------</option>
            {% for el in product %}
                <option name="el.id" value="{{ el.id }}">{{ el.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>